@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #7000b7;
  --background-color: #ad75e7;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
/* basic styles by https://github.com/Andy-set-studio */
body {
  color: rgba(255, 255, 255, 0.7);
  background: var(--background-color);
  padding: 1rem;
  line-height: 1.5;
  height: 100vh;
}

.content::before {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%);
  background-size: 100% 2px;
  z-index: 2;
  pointer-events: none;
}
.content {
  background-color: var(--foreground-color);
}

h1,
h2,
h3 {
  line-height: 1;
  max-width: 35ch;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}

p,
li,
dl {
  max-width: 70ch;
}

dl {
  display: grid;
  grid-template-columns: minmax(auto, 20ch) 1fr;
  grid-gap: 0.5rem 1rem;
}

dt {
  font-weight: bold;
}

blockquote {
  border-left: 0.25rem solid;
  font-style: italic;
  font-size: 1.25rem;
  line-height: 1.35;
  max-width: 55ch;
  padding-left: 1.25rem;
}

code {
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier,
    monospace;
  font-size: 0.95em;
  font-weight: bold;
}

pre {
  padding: 1.25rem;
  background: #e4e6ec;
  max-width: 90ch;
}

pre code {
  display: block;
  width: 100%;
  word-spacing: normal;
  word-break: normal;
  tab-size: 2;
  hyphens: none;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

/* Links and focus states */
a {
  color: currentColor;
}

a:hover {
  text-decoration: none;
}

:focus {
  outline: 1px dashed currentColor;
  outline-offset: 0.15rem;
}

/* Handy utils */
.wrapper {
  max-width: 65rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

/* More info: https://piccalil.li/quick-tip/flow-css-utility/ */
.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

/* A handy composition block for managing content flow. More on this sorta thing: https://cube.fyi */
.post {
  font-size: 1.125rem;
  --flow-space: 1.8rem;
}

.post h2,
.post h3,
.post footer {
  --flow-space: 3rem;
}

.post h1 + *,
.post h2 + *,
.post h3 + * {
  --flow-space: 1rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* from http://aleclownes.com/2017/02/01/crt-display.html */

@media not all and (min-width: 768px) {
  body {
    padding: 0;
  }
  h1 {
    font-size: 1rem;
  }

  h2 {
    font-size: 0.75rem;
  }

  h3 {
    font-size: 0.5rem;
  }
}
